.msg
{
position:absolute;
left:30%;
width:600px;
height:60px;
border-radius:18px;
background:rgba(200, 200,  200, 0.6);
}
.msgimg
{
position:absolute;
left:2%;
top:10%;
border-radius:29px;
width:18px;
height:18px;
top:10%;
}
.tname
{
font-family:Arial;
font-size:9px;
color:#003366;
font-weight:bold;
position:absolute;
left:10%;
top:0%;
}
.main_tweet_chat
{
 font-family:Arial;
font-size:10px;
color:#000000;
position:absolute;
left:10%;
top:40%;
top:30%;
}